.persons {
  list-style: none;
  padding: 0;
  margin: $grid-gutter-width auto 0;
  @include make-row();
  // @include make-grid-columns(12);

  .person {
    margin-bottom: 20px;
    .content {
      box-sizing: border-box;
      background-color: $white;
      border-radius: 5px;
      padding: 20px;
      text-align: left;
    }

    h2,
    p {
      margin: 0;
    }
  }
}

.dog {
  width: 240px;
  margin: 0 auto $spacer;
}