@charset "utf-8";

@include font-face(
  'Frontlab_Icons',
  $font-path+'Frontlab_Icons',
  normal,
  normal
);

.icon{
  font-family: "Frontlab_Icons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-variant: normal;
	text-decoration: none;
  text-transform: none;
  text-rendering: auto;
  display: inline-block;
  line-height: 3rem;
  font-size: 3em;
  font-style: normal;
  
    &.-bear:before {
      content: "\EA01";
    }
  
    &.-castor:before {
      content: "\EA02";
    }
  
    &.-cobra:before {
      content: "\EA03";
    }
  
    &.-cow:before {
      content: "\EA04";
    }
  
    &.-duck:before {
      content: "\EA05";
    }
  
    &.-elephant:before {
      content: "\EA06";
    }
  
    &.-giraffe:before {
      content: "\EA07";
    }
  
    &.-goat:before {
      content: "\EA08";
    }
  
    &.-insect:before {
      content: "\EA09";
    }
  
    &.-mouse:before {
      content: "\EA0A";
    }
  
    &.-panda:before {
      content: "\EA0B";
    }
  
    &.-pig:before {
      content: "\EA0C";
    }
  
    &.-seacow:before {
      content: "\EA0D";
    }
  
    &.-shark:before {
      content: "\EA0E";
    }
  
    &.-sheep:before {
      content: "\EA0F";
    }
  
    &.-toad:before {
      content: "\EA10";
    }
  
}