$pswp__assets-path: '../img/vendor/' !default;
$pswp__include-minimal-style: true !default;

@import "photoswipe/src/css/main";
@import "./skin/light";


.gallery {
    margin-bottom: 20px;
    .slide {
        .link {
            display: block;
            transition: opacity 300ms ease-in-out;

            &:hover {
                opacity: .8
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 5px;
            }
        }
    }
}